<div class="login-page" [formGroup]="userCreds">
    <form action="" >
        <div class="login-card">
            <div class="login-email">
            <label for="email">Username</label>
            <br>
            <input type="email" formControlName="username">
        </div>
        <div class="login-password">
            <label for="password">Password </label>
            <br>
            <input type="password" formControlName="password">
        </div>
        <div class="login-button">
            <h1>{{isLoggedIn}}</h1>
            <button (click)="loginClick()">Login</button>
            <button (click)="logoutClick()">Logout</button>
        </div>
        </div>
    </form>
</div>

