<div class="passengers">
    <div class="static-info">
        <p>From: {{ticketDetails[0].from}}</p>
        <p>To: {{ticketDetails[0].to}}</p>
        <p>Email: {{ticketDetails[0].email}}</p>
        <p>Contact Number: {{ticketDetails[0].phoneNo}}</p>

    </div>

    <div class="passenger-details-title">
        <h3>Passengers Details</h3>
    </div>
    <table>
        <tr>
            <th>Passenger ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
        <ng-container *ngFor="let item of ticketDetails; let j=index">
            <tr *ngFor="let item of ticketDetails[j].addMember;let i = index">
                <td>{{ticketDetails[j].addMember[i].id}}</td>
                <td>{{ticketDetails[j].addMember[i].firstName}} {{ticketDetails[j].addMember[i].lastName}}</td>
                <td>{{ticketDetails[j].addMember[i].age}}</td>
                <td>{{ticketDetails[j].addMember[i].gender}}</td>
            </tr>
        </ng-container>
    </table>

</div>