$bg-color: rgb(255, 251, 19);
$card-bg-color: rgb(255, 251, 19);

.form-title {
  h2 {
    margin: 10px;
  }
}

.travel-form {
  padding: 20px 10px;
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;

  .form {
    margin-left: 1rem;
  }

  .form > * {
    padding: 0.5rem;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .basic-info {
    width: 30%;
    border-radius: 4px;
    padding: 10px 25px 10px 15px;
    background-color: $card-bg-color;
    color: black;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0.3px 0.3px 3px 0.3px;
  }

  .basic-info > * {
    margin: 5px;
  }

  .dynamic-form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 300px;
  }

  .dynamic-form {
    width: 25%;
    background-color: $card-bg-color;
    border-radius: 4px;
    padding: 10px 25px 10px 15px;
    box-shadow: 0.3px 0.3px 3px 0.3px black;
    margin-bottom: 15px;
    .delete-passenger-btn {
      margin: 10px 0 10px 0;
      button {
        background-color: rgb(255, 0, 0);
        color: white;
      }
    }
  }

  .dynamic-form > * {
    margin-top: 0.5rem;
    color: black;
  }
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;

    .show-passengers-btn {
      button {
        padding: 7px 15px 7px 15px;
      }
    }

    .submit-btn {
      text-align: center;
      button {
        padding: 7px 15px 7px 15px;
      }
    }
  }
  input {
    width: 100%;
    padding: 3px 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 0.2px 0.2px 0.6px 0.1px rgb(255, 211, 131);
  }

  select {
    width: 100%;
    padding: 3px 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 0.2px 0.2px 0.6px 0.1px white;
  }

  button {
    background-color: $card-bg-color;
    border: none;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    box-shadow: 0px 0px 29px 0px;
  }

  .add-btn {
    button {
      border-radius: 100%;
      padding: 15px 19px 15px 19px;
    }
  }
}
