
@mixin background-gradient {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); 
}

@mixin button-decoration {
  background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); 
}

.form-title {
  h2 {
    margin: 10px;
  }
}

.travel-form {
  padding: 20px 10px;
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;

  .form {
    margin-left: 1rem;
  }

  .form > * {
    padding: 0.5rem;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .basic-info {
    width: 30%;
    padding: 10px 25px 10px 15px;
    @include background-gradient();
    color: black;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0.3px 0.3px 3px 0.3px;
  }

  .basic-info > * {
    margin: 5px;
  }

  .dynamic-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 300px;
  }

  .dynamic-form {
    width: 20%;
    @include background-gradient();
    border-radius: 8px;
    padding: 10px 25px 10px 15px;
    box-shadow: 0.3px 0.3px 3px 0.3px black;
    .delete-passenger-btn {
      margin: 10px 0 10px 0;
      button {
        background-color: rgb(255, 0, 0);
        color: white;
      }
    }
    p{
      margin-bottom: 10px;
      background-color: rgb(61, 61, 61);
      box-shadow: 0px 0px 1px 0px white;
      border-radius: 10px;
      width: fit-content;
      color: white;
      padding: 2px 7px;
      margin: auto;
    }
  }

  .dynamic-form > * {
    margin-top: 0.5rem;
    color: black;
    
  }
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;

    .show-passengers-btn {
      button {
        padding: 7px 15px 7px 15px;
      }
    }

    .submit-btn {
      text-align: center;
      button {
        padding: 7px 15px 7px 15px;
      }
    }
  }
  input {
    width: 100%;
    padding: 3px 2px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0.2px 0.2px 0.6px 0.1px rgb(255, 211, 131);
  }

  select {
    width: 100%;
    padding: 3px 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 0.2px 0.2px 0.6px 0.1px white;
  }

  button {
    @include button-decoration;
    border: none;
    border-radius: 9px;
    padding: 2px 5px 2px 5px;
    box-shadow: 0px 0px 1px 0px;
    color: white;
  }

  button:hover{
    cursor: pointer;
  }

  .add-btn {
    align-self: end;
    button {
      border-radius: 100%;
      padding: 15px 19px 15px 19px;
    }
  }
}
